.empresa {
  margin: 2.75rem 3.185rem 0 3.125rem;
  padding: 1.688rem 1.914rem 1.679rem 1.914rem;
  border-radius: 4.7px;
  background-color: var(--white-two);
}

.empresa > a {
  text-decoration: none;

  height: fit-content;
  display: grid;
  grid-template-areas:
    'img txt1'
    'img txt2'
    'img txt3';
}

.empresa img {
  max-width: 18.313rem;
  max-height: 10rem;
  margin: 0 2.397rem 0 0;
  padding: 0 0.04rem 0 0;

  grid-area: img;
}
