.home {
  min-width: fit-content;
  min-height: 100vh;

  background-color: #ebe9d7;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 3.8rem 2.625rem 1.377rem 2.625rem;
  background-image: linear-gradient(
    173deg,
    var(--medium-pink) 23%,
    var(--night-blue) 366%
  );
}

.title img {
  width: 2.188rem;
  height: 2.188rem;
  margin-right: 5rem;
  vertical-align: bottom;
}

.main {
  display: grid;
  grid-template-rows: auto auto;

  justify-items: center;

  margin: 2.75rem 3.175rem;
  padding: 3rem 4.6rem;
  gap: 3rem;

  border-radius: 4.8px;
  background-color: var(--white-two);
}

.texto {
  font-family: SourceSansPro;
  font-size: 2.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--warm-grey);
}
