.home {
  min-width: fit-content;
  min-height: 100vh;

  background-color: #ebe9d7;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 3.8rem 2.625rem 1.377rem 2.625rem;
  background-image: linear-gradient(
    173deg,
    var(--medium-pink) 23%,
    var(--night-blue) 366%
  );
}

.preSearch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: 68.41px;
}

.body {
  flex: 1;
}

.empty {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;

  min-height: 100%;
  align-items: center;
  justify-items: center;
}

.empty div {
  grid-column: 2;
  grid-row: 2;
}
