.input-container {
  border: solid 0.7px;
  border-width: 0 0 0.122rem;
  border-color: inherit;
  padding: 0.203rem;

  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
}

.input-container img {
  vertical-align: bottom;
}

.input-container input {
  border: 0;
  background-color: transparent;
}

.input-container input:focus {
  outline: 0px;
}

.input-container ::placeholder {
  color: inherit;
  opacity: 70%;
}
