.screen {
  min-width: fit-content;
  height: 100vh;

  background-color: #ebe9d7;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.card {
  grid-column: 2;
  grid-row: 2;

  padding: 16px;

  display: grid;
  justify-items: center;
}

.logo {
  width: 18.438rem;
  height: 4.5rem;
  object-fit: contain;
}

.card button {
  width: 20.25rem;
  height: 3.3rem;
  padding: 0.9rem 7.919rem 0.9rem 7.956rem;
  border: 0;
  border-radius: 3.6px;
  background-color: #57bbbc;

  /* font style*/
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white-two);
}

.bem-vindo {
  width: 11rem;
  height: 4rem;
  margin: 4.188rem 0 1.281rem 0;
  text-align: center;
  color: var(--charcoal-grey);
}

.texto {
  width: 22.359rem;
  height: 3.25rem;
  margin: 1.281rem 0 2.947rem 0;
  text-align: center;
  color: var(--charcoal-grey);
}

.input-container {
  color: var(--charcoal-grey);
  width: 21.938rem;
}

.error {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  align-self: end;

  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: var(--white-two);
  background-color: #ff0f44;
}

.errorMsg {
  height: 2.894rem;
  align-self: end;

  font-family: Roboto;
  font-size: 0.76rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.95;
  letter-spacing: -0.17px;
  text-align: center;
  color: #ff0f44;
}
