:root {
  --white: #d8d8d8;
  --white-two: #ffffff;
  --dark-indigo: #1a0e49;
  --warm-grey: #8d8c8c;
  --charcoal-grey-two: #403e4d;
  --greyish: #b5b4b4;
  --charcoal-grey: #383743;
  --black-54: rgba(0, 0, 0, 0.54);
  --night-blue: #0d0430;
  --medium-pink: #ee4c77;
}

body {
  margin: 0px;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Regular),
    url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Bold),
    url(./fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: local(SourceSansPro-Regular),
    url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-5 {
  font-family: Roboto;
  font-size: 2.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white-two);
}

.Text-Style-4 {
  font-family: Roboto;
  font-size: 2.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #991237;
}

.Text-Style-3 {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.45px;
  text-align: center;
  color: var(--charcoal-grey);
}

.Text-Style-6 {
  font-family: Roboto;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-indigo);
}

.Text-Style-11 {
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--charcoal-grey);
}

.Text-Style-10 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--charcoal-grey);
}

.Text-Style-7 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

.Text-Style-9 {
  font-family: SourceSansPro;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.38px;
  text-align: left;
  color: var(--warm-grey);
}

.Text-Style-8 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

.Text-Style-2 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;
  text-align: left;
  color: var(--charcoal-grey);
}

.Text-Style {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--charcoal-grey);
}
